* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	interpolate-size: allow-keywords;
}

:root {
    --blue: #000047;
	--yellow: #FFCF00;
	--brown: #460408;
    --pale-yellow: #FDF476;
}

body > * {
    overflow-x: hidden; 
}

nav {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding: 20px;
}

nav h1 {
    font-weight: 700;
    font-size: 30px;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li {
    background-color: white;
    border-radius: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 20px 35px;
    font-size: 19px;
}

nav .narrow-head {
    display: none;
}

nav #hamburger {
    display: none;
}

nav #menu > p {
    display: none;
}

@media (max-width: 900px) {
    nav {
        justify-content: space-between;
    }

    nav .wide-head {
        display: none;
    }

    nav .narrow-head {
        display: initial;
    }
}

@media (max-width: 650px) {
    nav #hamburger {
		display: initial;
		z-index: 2;
	}

	nav .bar {
		width: 56px;
		height: 8.3px;
		margin: 8px 0;
		background-color: white;
		transition-duration: 200ms;
		border-radius: 10px;
	}

	#menu {
		height: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: -56px;
		background-color: var(--blue);
		border-left: 6px solid var(--yellow);
		border-bottom: 6px solid var(--yellow);
		border-radius: 0 0 0 20px;
		z-index: 1;
		transition-duration: 200ms;
	}

	#menu.opened {
		height: auto;
		top: 0;
	}

	nav #menu.opened > p {
		display: block;
	}

    #hamburger:has(~ #menu.opened) {
        position: absolute;
        right: 20px;
        top: 31px;
    }

	#hamburger:has(~ #menu.opened) #bar1 {
		transform: translate(0, 16px) rotate(-45deg);
	}

	#hamburger:has(~ #menu.opened) #bar2 {
		opacity: 0;
	}

	#hamburger:has(~ #menu.opened) #bar3 {
		transform: translate(0, -16px) rotate(45deg);
	}

	#menu > p {
		color: white;
		font-size: 40px;
		font-weight: 600;
		margin: 25px 0 0 25px;
	}

	#menu ul {
		flex-direction: column;
		padding: 0;
		margin: 30px 80px 25px 25px;
	}

	#menu li a {
		padding: 18px 50px;
	}

	#menu li a p {
		width: fit-content;
	}
}

@media (max-width: 410px) {
    nav .narrow-head {
        font-size: 25px;
    }

    #hamburger {
        scale: 0.8;
    }

    #hamburger:has(~ #menu.opened) {
        top: 24px;
    }

    #menu > p {
        font-size: 35px;
    }
}

body > .flex-row {
    display: flex;
}

#home main {
    padding: 60px 500px;
}

aside {
    width: 20%;
    background-color: #f3f3f3;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

aside h3 {
    font-size: 25px;
}

ul#year-button-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(52px, 1fr));
    gap: 15px;
}

#year-button-list li {
    cursor: pointer;
    padding: 10px;
    width: auto;
    transition: scale 100ms;
    background-color: var(--yellow);
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#year-button-list li.selected {
    background-color: var(--brown);
    color: white;
}

#year-button-list li:hover {
    scale: 1.07;
}

#year-field {
    display: flex;
    justify-content: space-between;
}

#year-field input#year-input {
    width: 69%;
    font-size: 17px;
}

#year-field span#select-year{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    width: 25%;
    background-color: #460408;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 100ms;
}

#year-field span#select-year:hover {
    scale: 1.02;
}

#year-list-gradient {
    display: none;
}

#photos main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
    padding: 40px;
}

@media (max-width: 1350px) {
    body > .flex-row {
        flex-direction: column;
    }

    #photos main {
        width: 100%;
    }

    #photos aside {
        width: 100%;
        padding: 40px 100px
    }
}

@media (max-width: 1000px) {
    #photos main {
        padding: 40px 100px;
    }
}

@media (max-width: 800px) {
    #photos aside {
        width: 100%;
        padding: 40px 30px
    }
    
    #photos main {
        padding: 40px 30px;
    }
}

@media (max-width: 650px) {
    #photos aside {
        transition-duration: 500ms;
        height: min-content;
        overflow: hidden;
    }

    #photos aside.contracted {
        height: 285px;
    }

    #photos aside:not(.contracted) {
        padding-bottom: 65px;
    }

    #year-list-gradient {
        display: initial;
        height: 150px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom: 40px;
        transition-duration: inherit;
    }

    #year-list-gradient::before {
        content: "";
        background-image: linear-gradient(#fff0, #ffffffa1, #fff);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 150px;
        transition-duration: inherit;
    }

    aside:not(.contracted) #year-list-gradient {
        visibility: hidden;
        padding-bottom: 0px;
    }

    aside:not(.contracted) #year-list-gradient::before {
        opacity: 0;
    }

    #year-list-gradient svg {
        visibility: visible;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3px;
        stroke: var(--brown);
        fill: none;
        height: 75px;
        width: 75px;
        transition-timing-function: ease;
        transition-duration: inherit;
        z-index: 1;
    }

    aside:not(.contracted) #year-list-gradient svg {
        transform: rotate(180deg);
    }
}

@media (max-width: 350px) {
    #photos aside {
        transition-duration: 750ms;
    }

    #year-list-gradient {
        padding-bottom: 25px;
    }

    #year-list-gradient svg {
        height: 60px;
        height: 60px;
    }
}

@media (max-width: 280px) {
    #photos main {
        padding: 20px 20px;
    }
}

#year-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#year-title h2 {
    font-size: 50px;
    padding: 0 40px;
}

#pdf-download {
    float: right;
    display: flex;
    align-items: center;
    gap: 10px;
}

#download-button {
    padding: 10px 11px;
    display: block;
}

#download-button svg {
    width: 40px;
    height: 40px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
    stroke: var(--brown);
    fill: none;
}

@media (max-width: 650px) {
    #year-title .balancer {
        display: none;
    }

    #year-title h2 {
        padding: 0 40px 0 0;
    }
}

@media (max-width: 425px) {
    #year-title {
        flex-direction: column;
        gap: 10px;
    }

    #year-title h2 {
        padding: 0;
    }
}

@media (max-width: 300px) {
    #year-title h2 {
        font-size: 45px;
    }

    #year-title p {
        font-size: 15px;
    }
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    background-color: white;
    align-content: flex-start;
}

.image-box {
    height: min-content;
    background-color: var(--pale-yellow);
    aspect-ratio: 10/9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 100ms;
}

.image-box:hover {
    scale: 1.01;
}

@media (max-width: 350px) {
    #gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .image-box {
        padding: 15px;
        border-radius: 15px;
    }
}

#expanded-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#expanded-image {
    position: fixed;
    top: 10%;
    left: 20%;
    width: 70%;
    padding: 50px;
    background-color: var(--pale-yellow);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

#close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 0 15px 15px;
    cursor: pointer;
}

#close-button svg {
    width: 50px;
    height: 50px;
}

.switch-photo {
    position: absolute;
    padding: 5px;
    top: calc(50% - 70px);
    cursor: pointer;
    width: 70px;
    height: 70px;
}

#left-button {
    left: -12px;
}

#right-button {
    right: -12px;
}

#expanded-image svg {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
    stroke: var(--brown);
    fill: none;
}

#expanded-image img {
    width: 100%;
    user-select: none;
}

footer {
	background-color: var(--blue);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px;
    /* overflow-x: hidden; */
}

footer p {
	color: white;
	font-size: 20px;
}

footer #footer-logo {
	display: flex;
	gap: 20px;
	align-items: center;
	text-decoration: none;
}

footer #footer-logo img {
	height: 48px;
}

footer #attribution {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

footer #external-links {
	display: flex;
	flex-direction: row;
	gap: 37px;
	justify-content: end;
	align-items: end;
}

footer #external-links a {
	display: flex;
	gap: 12px;
	color: white;
}

footer #external-links svg {
	width: 24px;
	height: 24px;
	fill: none;
	stroke: white;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
}
